:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-background-color: #0056b3;
  --password-background-color: #f0f0f0;
  --password-text-color: #000000;
  --copy-button-background-color: #28a745;
  --copy-button-text-color: #ffffff;
  --copy-button-hover-background-color: #218838;
}

[data-theme="dark"] {
  --background-color: #333333;
  --text-color: #ffffff;
  --button-background-color: #444444;
  --button-text-color: #ffffff;
  --button-hover-background-color: #555555;
  --password-background-color: #555555;
  --password-text-color: #ffffff;
  --copy-button-background-color: #4caf50;
  --copy-button-text-color: #ffffff;
  --copy-button-hover-background-color: #388e3c;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

.App {
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.toggle-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: var(--button-hover-background-color);
}
